[2017-12-27 20:33] tswast opened #4 "BigQuery Data Transfer: list_locations missing"
I would expect to see a `list_locations` method that takes a project ID in the [DataTransferServiceClient class](https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery_datatransfer/gapic/v1/api.html#google.cloud.bigquery_datatransfer_v1.DataTransferServiceClient).

Docs for this API method:

https://cloud.google.com/bigquery/docs/reference/datatransfer/rest/v1/projects.locations

[2019-04-17 08:47] antonimaciej opened #3 "BigQuery Data Transfer: Add option to use dict as params parameter in TransferConfig"
Hello,
I'm developing airflow operators for GCP and I use your google.cloud.bigquery_datatransfer_v1 library.

While using `create_transfer_config` method i had a little trouble with the `transfer_config` parameter. `transfer_config` can be either a TransferConfig object or a dict, however it has a `params` parameter which has to be `Struct` object. It creates an inconsistency.

It would be great

[2019-04-17 09:25] antonimaciej opened #2 "BigQuery Data Transfer: Missing documentation of "params" parameter in TransferConfig"
The "params" parameter in [TransferConfig](https://googleapis.github.io/google-cloud-python/latest/bigquery_datatransfer/gapic/v1/types.html#google.cloud.bigquery_datatransfer_v1.types.TransferConfig) is not document. The only information I could find is "Data transfer specific parameters." which is not sufficient.

[2020-02-05 21:11] gavin-haynes-grow opened #7 "google-cloud-bigquery-datatransfer Readme code sample import does not work"
With google-cloud-bigquery-datatransfer 0.4.1, python3.7.5, this import works:

[code]

but the readme at https://github.com/googleapis/google-cloud-python/blob/master/bigquery_datatransfer/README.rst contains this, which does not work for me:

[code]

Is something off for me or is the Readme just wrong? Looks like the import I'm using matches the actual directory structure as well as the tests.

[2020-02-07 20:59] gavin-haynes-grow opened #9 "Please add sample of FieldMask"
All the tests, comments, and samples I found use `{}` as the field mask.

It would be nice to see the actual format documented somewhere:

[code]

[2020-02-15 06:33] Rukeith opened #11 "BigQuery create TransferConfig: 400 Request contains an invalid argument"
# My step：

1. Get Authorization code：I use this URL to get auth code

       https://www.gstatic.com/bigquerydatatransfer/oauthz/auth?clientId=<id from list data sources>&scope=https://www.googleapis.com/auth/adwords%20https://www.googleapis.com/auth/bigquery

2. Create a service account with Project Owner
3. Execute sample code：

[code]

Expect：Data transfer create
But I got the error：

[code]

[2020-02-15 08:59] Rukeith opened #10 "BigQueryDatatransfer: create_transfer_config with authorization_code throws error '400 Request contains an invalid argument'"
# My step：

1. Get Authorization code：I use this URL to get auth code

       https://www.gstatic.com/bigquerydatatransfer/oauthz/auth?clientId=<id from list data sources>&scope=https://www.googleapis.com/auth/adwords%20https://www.googleapis.com/auth/bigquery

2. Create a service account with Project Owner
3. Execute sample code：

[code]

Expect：Data transfer create
But I got the error：

[code]

[2020-02-18 13:58] HemangChothani commented on #10
@plamut  @tswast could you  look into it, I have tried it, but  i don't have permission to generate `authorization_code`.

[2020-02-20 13:33] yoshi-automation opened #12 "Synthesis failed for python-bigquery-datatransfer"
Hello! Autosynth couldn't regenerate python-bigquery-datatransfer. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/bc296324-7867-4eae-a113-8090e6bcc834).

[2020-02-20 15:12] ccao93 opened #13 "BigQuery Data Transfer Notifications API Enablement"
I have been notified that the rollout for BigQuery Data Transfer Notifications API is completed. However, I'm still not able to set it up via `google.protobuf.json_format.ParseDict` & `bigquery_datatransfer_v1.types.TransferConfig()`. The error I got was:

[code]

May I ask if there is any plan to add this field to `bigquery_datatransfer_v1.types.TransferConfig()`?

Thanks

[2020-02-20 18:08] meredithslota commented on #10
This ... appears to be a duplicate of https://github.com/googleapis/python-bigquery-datatransfer/issues/11 so I'd like to close it (currently I lack permissions to do this, however?); @shollyman is assigned to that one. Will copy over the comment from @HemangChothani for context.

[2020-02-20 18:09] meredithslota commented on #11
@HemangChothani commented on the duplicate issue (https://github.com/googleapis/python-bigquery-datatransfer/issues/10) with the following:

[2020-02-20 23:24] yoshi-automation commented on #12
Autosynth passed, closing! :green_heart:

[2020-02-20 23:24] #12 closed

[2020-02-21 05:15] HemangChothani commented on #10
Closing the issue as its duplicate of #11

[2020-02-21 05:15] #10 closed

[2020-02-21 13:38] plamut commented on #11
I am not familiar with this library, but FWIW, I did manage to generate a transfer configuration _without_ the authorization code. I omitted the latter from the `create_transfer_config()` call, and it worked just fine.

The client was created using the default configuration from the environment, I used a service account with admin access to the project:
[code]

I also tried with a dummy authorizat

[2020-02-25 01:28] Rukeith commented on #11
If remove the `authorization code` the API will work fine, but transfer won't work. Because transfer won't have permission to connect to google ads

[2020-03-04 17:20] #7 closed

[2020-03-05 08:58] adamcunnington-2sixty commented on #3
I encountered this too; the documentation is wrong as it says, can be a dict of the same format - which isn't true. It has to be a protobuf object, obtained through that ParseDict func.

[2020-03-05 09:00] adamcunnington-2sixty opened #17 "Support email notifications & pubsub for transfer configs when creating via python SDK"
Please support the emailNotifications & pubsub options. Currently, when creating a Data Transfer run via python SDK, we can't programmatically manage notifications. I believe both the REST and gRPC apis expose this as an option.

[2020-03-05 09:09] adamcunnington-2sixty opened #18 "Documentation for `name` param in get/delete transfer config very unclear"
The documentation describes that the first parameter to the get_transfer_config & delete_transfer_config methods should be "name". As far as I can tell, the name is the projects/foo/locations/foo/transferConfigs/unique-guid which is well, unique - how can this be obtained?! The only way you would have access to that unique ID is if you have access to the transfer config object in which case, you w

[2020-03-05 22:11] guillaumeblaquiere commented on #17
I have the same requirement.
Similar to #13

[2020-03-05 22:12] guillaumeblaquiere commented on #13
Similar to #17

[2020-03-06 19:26] ccao93 commented on #13
It's already added to gapi here: https://googleapis.dev/python/bigquerydatatransfer/latest/gapic/v1/types.html#google.cloud.bigquery_datatransfer_v1.types.TransferConfig

[2020-03-06 21:11] shollyman commented on #18
Thanks for providing the feedback.  The nature of this API (and it's documentation) are generated from the service definitions we get from the backend, so I've filed https://issuetracker.google.com/issues/150962884 in the public issue tracker to flag this for followup from the backend team responsible for the datatransfer API.

The other comment I'd add here are that you typically get the unique i

[2020-03-06 21:11] #18 closed

[2020-03-06 21:26] shollyman commented on #13
Looking at the deltas from 0.4.1, I believe the notification fields are present in the 1.0.0 release (released yesterday).  If that's incorrect, reopen this issue.

[2020-03-06 21:26] shollyman commented on #17
Looking at the deltas from 0.4.1, I believe the notification fields are present in the 1.0.0 release (released yesterday). If that's incorrect, reopen this issue.

[2020-03-06 21:26] #17 closed

[2020-03-06 21:50] ccao93 commented on #13
I don't think the notification field has been added in the 1.0.0 release. Still have the error of ```'TransferConfig' object has no attribute 'notification_pubsub_topic'``` and seems the field added was `service_account_name` instead of notification field.

[2020-03-06 21:58] ccao93 commented on #13
@shollyman Can you help to reopen this issue, seems I don't have the access to reopen it myself. Thanks

[2020-03-06 22:20] guillaumeblaquiere commented on #13
Agree with @ccao93. The notification_pubsub_topic is defined in [this file](https://github.com/googleapis/python-bigquery-datatransfer/blob/master/google/cloud/bigquery_datatransfer_v1/proto/transfer_pb2.py), which imported [here](https://github.com/googleapis/python-bigquery-datatransfer/blob/release-v1.0.0/google/cloud/bigquery_datatransfer_v1/gapic/data_transfer_service_client.py#L45) but never

[2020-03-06 23:07] shollyman commented on #13
Reopened the issue to keep an eye on this.  Wanted to verify we're talking about the same time, so here's my understanding:

TransferConfig entities expose two notification mechanisms:  a reference to a pubsub topic

The datatransfer backend exposes two fields:  `notification_pubsub_topic` which can hold a reference to a pubsub topic, or `email_preferences` which governs (via a boolean) whether to

[2020-03-06 23:14] shollyman commented on #13
filed 150976467 internally about improving the docstrings for the pubsub id format

[2020-03-07 12:49] guillaumeblaquiere commented on #13
@shollyman, your example works. Thanks you.

However:

 *  I expected an object to fill with the expected field. Here, parsing a dict into a gRPC proto definition is very low level for every developers, and not consistent with the other libraries.
* My IDE doesn't know TransferConfig()
![image](https://user-images.githubusercontent.com/1756715/76143752-4e0d6a00-607a-11ea-9f2a-8d15c9f08434.png)

[2020-03-09 16:43] ccao93 commented on #13
@shollyman Thanks for the help. Seems I had some version issue. After rebooting my laptop, the issue has been fixed.

[2020-03-09 16:51] #13 closed

[2020-03-10 23:18] shollyman commented on #9
Thanks for the report.  Haven't had much chance to address this one yet.

Two things we need to look into here:

* can we improve discoverability of common types documentation like https://googleapis.dev/python/protobuf/latest/google/protobuf/field_mask_pb2.html ?

* can we improve pages on cloud.google.com to expose these concepts with samples?

[2020-03-31 10:00] dnmellen commented on #11
I also have this error when I try to schedule a query. I'm using a service account and the first time I run this code it works ok, but if I remove the scheduled query and try again or I try to create another scheduled query it fails with `google.api_core.exceptions.InvalidArgument: 400 Request contains an invalid argument`

[code]

I checked the docs looking for any kind of throttling or limit abo

[2020-04-02 13:06] plamut commented on #11
@shollyman Any idea?

I'm not familiar with this library, but can give it a shot, since I have a few spare cycles these days.

[2020-04-07 13:30] NicolaSpreafico opened #21 "400 P4 service account needs iam.serviceAccounts.getAccessToken permission"
Hi,
i'm struggling on how to have the proper configuration in order to have BigQuery scheduled queries working with Python client.

I started from googleapis/google-cloud-python#9359 where I found some hints, but here is what I discovered so far.

My scenario:

- I have a project where in IAM I created a service-account (let's call `project-iam`) which I'll use as `service_account.Credentials.from

[2020-04-09 18:24] dubirajara commented on #11
any news about that???

[2020-05-13 04:52] alimantoro commented on #11
any further news about this? I'm experiencing the same issue and couldn't spot the invalid arguments

[2020-05-13 11:06] plamut commented on #11
I don't yet have any news on this one, I'm afraid, but will try to get some info.

[2020-05-29 02:08] diego200052 commented on #11
Any news I'm experiencing the same issue :(

[2020-05-29 02:08] diego200052 commented on #11
google.api_core.exceptions.InvalidArgument: 400 Request contains an invalid argument.

[2020-05-29 02:08] diego200052 commented on #11
Any news? I'm experiencing the same issue.

[2020-05-29 02:59] Rukeith commented on #11
No, my google cloud ticket has been open for three months. They still can't fix this.

[2020-06-02 19:32] ethan-seer commented on #11
I'm having the same issue. It starts with a 403, then when run again turned into a 400. Is there caching happening? Any suggested resolution?

[2020-06-30 21:03] failure-checker[bot] opened #34 "Warning: a recent release failed"
The release PR #23 is still in a pending state after several hours

[2020-08-12 04:20] #34 closed

[2020-08-13 11:50] guypld commented on #2
Unfortunately this one is still relevant,
also for the REST API:
https://cloud.google.com/bigquery-transfer/docs/reference/datatransfer/rest/v1/projects.locations.transferConfigs#TransferConfig

I can't find out how to use '**cross_region_copy**' and copy a BQ Dataset to a different project.

[2020-08-14 14:38] ichsanadskom commented on #11
I'm having the same issue here, is there any other solution?

[2020-08-20 14:42] shlomiken commented on #11
I have the same issue - and i think there is a documentation problem around the authorization code.
we are explained how to get it - but not explained to what it is being used (to create the Job or to connect to Adwords/merchant center in my case). those should be 2 completely different persons (think about me managing a customer Adwords account)

i also got the 400 - but as soon as i followed the

[2020-08-28 18:01] meredithslota commented on #3
Likely this will be solved with the upcoming migration to the new library generator, will check back once that is done.

[2020-08-31 12:14] yoshi-automation opened #39 "Synthesis failed for python-bigquery-datatransfer"
Hello! Autosynth couldn't regenerate python-bigquery-datatransfer. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/62315112-900b-4eef-8d49-c6c399a38931/targets/github%2Fsynthtool;config=default/tests;query=python-bigquery-datatransfer;failed=false).

[2020-08-31 21:49] shlomiken opened #40 "Update transfer credentials (authorization_code) - does not take effect"
Hi
I have used the google API for couple of days now - i think i got it really covered.
managed to create transfer jobs, update them etc.
everything is working , the only thing is not is we are trying to set the credentials on existing transfer job which was created with service account . we try to modify it so the job will use a user account (that is also defined in Merchant center)
this does not

[2020-09-01 09:33] shlomiken commented on #11
@Rukeith - did you get any updates ?, we are really stuck with automating transfer jobs - since we need 2 different users.
one service account to create the transfer, and the other is the authorization code for the Adwards user.

[2020-09-01 12:14] yoshi-automation commented on #39
Autosynth is still having trouble generating python-bigquery-datatransfer. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/ec802b0e-f578-4046-9f8e-909fd85c8658/targets/github%2Fsynthtool;config=default/tests;query=python-bigquery-datatransfer;failed=false).

[2020-09-02 12:14] yoshi-automation commented on #39
Autosynth is still having trouble generating python-bigquery-datatransfer. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/f4bca394-1c62-4452-b69d-699b51e0bdf7/targets/github%2Fsynthtool;config=default/tests;query=python-bigquery-datatransfer;failed=false).

[2020-09-02 14:31] plamut opened #41 "Transition the library to the new microgenerator"
Microgenerator is ready and we can use it to regenerate the code here.

Doing that is a breaking change (e.g. drops Python 2.7, 3.5), meaning that it needs to be released in a new **major** version.

[2020-09-03 12:45] yoshi-automation commented on #39
Autosynth passed, closing! :green_heart:

[2020-09-03 12:45] #39 closed

[2020-09-11 02:52] Rukeith commented on #11
Hi everyone, it looks like many people have this issue like me.
I have compiled all the feedback and solutions I have received so far.
My goal : Create a API to make user to auto generate bigquery transfer to import data from Google Ads to BigQuery
Let me be straight：This feature is not support. Because the user needs to have both permission about the GSuite and Google Ads.
But in business, you wo

[2020-09-11 07:08] HemangChothani opened #43 "sample of create_scheduled_query.py is not working"
Here method's second argument is `dataset_id`
https://github.com/googleapis/python-bigquery-datatransfer/blob/afe52197021e5b45edb70fffa832f7a8dc04e7b4/samples/create_scheduled_query.py#L21

But at the time of calling the method it passed `authorization_code`
https://github.com/googleapis/python-bigquery-datatransfer/blob/afe52197021e5b45edb70fffa832f7a8dc04e7b4/samples/create_scheduled_query.py#L9

[2020-09-11 10:38] #43 closed

[2020-09-11 12:19] HemangChothani commented on #40
@shlomiken I'm not sure but  [this](https://github.com/googleapis/python-bigquery-datatransfer/issues/11#issuecomment-690841808) example can be helpful for you to create or update transfer config with authorization_code.

[2020-09-11 14:11] shlomiken commented on #11
Hi @Rukeith
this sentence is confusing - i thought we are trying to fetch data from customer Adwards not our own. so why would their user be in our G-suite
[code]

[2020-09-12 11:36] Rukeith commented on #11
@shollyman That is right, this feature you could only use by yourself. You cannot provide it to your clients.

[2020-09-15 12:49] #9 closed

[2020-09-15 14:49] tswast opened #51 "Samples tests are failing"
https://source.cloud.google.com/results/invocations/ba4c0c8d-404c-4199-86dd-cc4f68c54b2b/targets/github%2Fpython-bigquery-datatransfer%2Fsamples/tests;group=samples.tests.test_update_transfer_config;test=test_update_config_sample;row=3

Need to request more quota?

[code]

[2020-09-16 10:38] plamut commented on #51
FWIW, I've seen that a couple of times in other libraries, too, resulting in CI check failures.

[2020-09-21 15:34] #41 closed

[2020-10-01 17:25] upodroid commented on #21
Hi

The role you are looking for is called Service Account Token Creator.

Google should update the role it is asks you to set.

[2020-10-07 13:43] shlomiken commented on #11
@Rukeith - this is not correct , we managed to do that from UI for a customer account, as long as the customer adds our user email to their merchant center / Adwords account.
the problem i see is with the API - which does not support this flow (update credentials) like you would do in the UI.
also the documentation talks about that the credentials should be able to update according to the user in

[2020-10-08 02:24] Rukeith commented on #11
@shlomiken Yes, if your account has the permission of the client's AdWords account then you could use this.
That is your situation.
But most of the situations I face client won't want to give this permission to me.
If you just use your own GSuite account to use this API, it could work.

[2020-10-08 02:24] #11 closed

[2020-10-08 09:19] shlomiken commented on #11
isnt that a security issue to get customer data without their permission?

On Thu, Oct 8, 2020, 05:25 Rukeith <notifications@github.com> wrote:

--
This e-mail, as well as any attached document, may contain material which
is confidential and privileged and may include trademark, copyright and
other intellectual property rights that are proprietary to Kenshoo Ltd,  
its subsidiaries or affiliates (

[2020-10-08 10:58] shlomiken commented on #40
Anyone is going to at least comment on this issue ?  this means we cannot create automation around fetching customers data from merchant center

[2020-10-09 11:07] Iuiu1234 opened #63 "AttributeError: 'DESCRIPTOR' (google documentation)"
Using google documentation
[link](https://cloud.google.com/bigquery/docs/scheduling-queries#setting_up_a_scheduled_query)
code: sample_create_transfer_config in
[link](https://github.com/googleapis/python-bigquery-datatransfer/blob/a88deabe07fbb39a3b28c8726b9856018fb1431e/samples/create_scheduled_query.py)

[code]

Raises the error
AttributeError: 'DESCRIPTOR'

To SOLVE the problem I did add `._pb

[2020-10-14 14:05] Iuiu1234 opened #66 "AttributeError: 'DataTransferServiceClient' object has no attribute 'location_path'"
If run tutorial command
[code]

Gives me the error
[code]

py3.7
windows
google-api-core==1.22.4
google-auth==1.22.1
google-cloud-bigquery-datatransfer==2.1.0
googleapis-common-protos==1.52.0
grpcio==1.32.0

[2020-10-21 18:54] meredithslota commented on #66
Gotcha - I think the tutorial section needs to be updated; just to confirm, are you referencing this page? https://googleapis.dev/python/bigquerydatatransfer/latest/index.html under "Example Usage"?

[2020-10-21 21:31] Iuiu1234 commented on #66
yes, that's correct.
Where shoul I look instead?

[2020-11-04 15:12] varelasavela commented on #66
Same issue for me. Is any workaround to create scheduled query with python sdk for now?

[2020-11-10 22:47] meredithslota commented on #40
Hello @shlomiken - was the example @HemangChothani provided helpful? The Merchant Center transfers are currently in "beta" so the docs have changed a bit since this issue was filed. https://cloud.google.com/bigquery-transfer/docs/merchant-center-transfer was recently updated, and we've also released v2.1 (there's an upgrading guide here: https://googleapis.dev/python/bigquerydatatransfer/latest/UP

[2020-11-12 11:53] shlomiken opened #70 "Can you please add sample to create_transfer_config , there is only update example"
Also looks like the documentation is not updated since it has example with ` client.location_path('[PROJECT]', '[LOCATION]')`
which was removed in 2.0.0 versions.
so a full example is required.

thanks
Shlomi

[2020-11-12 14:04] shlomiken commented on #40
@meredithslota - thanks for commenting. i just tried the 2.1 version and still get 400 errors. here is a recap of what i'm trying to do here
1. create client with service account (so he will be able to create transfer job in GCP)
2. use customer authorization code (as the sample in this repo instruct us to do )
then use this code
[code]
the response is 400 Request contains an invalid argument - wi

[2020-11-13 11:40] Iuiu1234 commented on #66
The example in
https://github.com/googleapis/python-bigquery-datatransfer/blob/v2.1.0/samples/create_scheduled_query.py
works.

Idk why the readme is not updated

[2020-11-16 18:40] shlomiken commented on #40
@meredithslota - did you see my comment above , the update to authorization code is not working even from google API explorer.
it say 200 OK as a response but actually don't update the transfer to use the auth code provided. can you please help ?

[2020-11-25 20:05] Wukkkinz-0725 commented on #63
It really worked and helped me a lot, thanks luiu. By the way `_pb` is the protected class in TransferConfig(), I think official should make some modification in this part.

[2020-11-25 20:06] Wukkkinz-0725 commented on #63
It really worked and helped me a lot, thanks luiu. By the way _pb is the protected class in TransferConfig(), I think official should make some modification in this part.

[2020-11-30 23:00] tswast commented on #63
Thank you for the report. I have updated today the documentation to match the working sample at https://github.com/googleapis/python-bigquery-datatransfer/blob/master/samples/create_scheduled_query.py

[2020-11-30 23:00] #63 closed

[2020-12-05 00:12] yoshi-automation opened #75 "Synthesis failed for python-bigquery-datatransfer"
Hello! Autosynth couldn't regenerate python-bigquery-datatransfer. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/c0ef6fd0-4438-42f8-8bce-cac7dc0e1eba/targets/github%2Fsynthtool;config=default/tests;query=python-bigquery-datatransfer;failed=false).

[2020-12-05 00:56] yoshi-automation commented on #75
Autosynth is still having trouble generating python-bigquery-datatransfer. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/a9b55cf4-6751-456c-947e-578c37e0e2a2/targets/github%2Fsynthtool;config=default/tests;query=python-bigquery-datatransfer;failed=false).

[2020-12-05 01:26] yoshi-automation commented on #75
Autosynth is still having trouble generating python-bigquery-datatransfer. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/d76b5cac-7eea-4749-b30d-8b3c7e922fdb/targets/github%2Fsynthtool;config=default/tests;query=python-bigquery-datatransfer;failed=false).

[2020-12-05 03:03] yoshi-automation commented on #75
Autosynth is still having trouble generating python-bigquery-datatransfer. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/72e27004-e58c-41aa-b872-53bb65616c6c/targets/github%2Fsynthtool;config=default/tests;query=python-bigquery-datatransfer;failed=false).

[2020-12-05 13:33] yoshi-automation commented on #75
Autosynth passed, closing! :green_heart:

[2020-12-05 13:33] #75 closed

[2020-12-07 20:28] paslandau commented on #21
Just chiming in to say that as of 2020-12-07 there seems to be no other way as stated by @NicolaSpreafico. `service_account_name`  does still not seem to be supported (I'm using the PHP sdk).

As I've spent the better part of the day to make this work, here is the quick guide of what worked for me:

1. Create a service account in `Project-A` at https://console.cloud.google.com/iam-admin/serviceacc

[2020-12-09 15:56] tswast commented on #70
https://github.com/googleapis/python-bigquery-datatransfer/pull/76 adds a `create_transfer_config` example using the 3.0 version of the library (released today)

[2020-12-09 16:25] #70 closed

[2020-12-09 17:03] tswast commented on #66
Sent #80 to remove the code sample from the README. Since it's just plain text, it's not tested by our CI infrastructure and is prone to getting out-of-date.

[2020-12-10 13:50] sloev opened #82 "made a complete and working example of working with cross regional dataset transfer configs"
**Is your feature request related to a problem? Please describe.**
The documentation is out of date of not helpful in answering questions and getting me to a functional poc.

**Describe the solution you'd like**
More examples that are up to date.

 **Describe alternatives you've considered**
looked on the internet, looked in this codebase, looked in googles documentation, looked in github issues m

[2020-12-10 16:56] #66 closed

[2020-12-11 09:37] sloev commented on #82
potentially solved by this pr: https://github.com/googleapis/python-bigquery-datatransfer/pull/83

[2020-12-14 21:15] tswast commented on #82
I think this is fixed by https://github.com/googleapis/python-bigquery-datatransfer/pull/76

[2020-12-14 21:15] #82 closed

[2020-12-28 06:00] mik-laj opened #90 "Invalid type for user_id field after TransferConfig was converted to dictionary."
`user_id` field is deprecated but it still causes us problems. `TransferConfig.to_dict` creates a dictionary that has the wrong type of this field. This type of this field should be one of: `int`, `long`, but this field has type str. This is especially problematic because `to_dict` method set this field to default value - `"0"`, so I need to convert this field to the correct type on my side.

It w

[2021-01-07 15:24] Abdelwaheb-Hnaien opened #94 "start_manual_transfer_runs NOT working as expected"
I created a Transfer config (source Dataset Copy) in my GCP project that is scheduled to be run every day at 01:00 AM, the Transfer configuration name is in the form :

`projects/{projectId}/locations/{locationId}/transferConfigs/{configId}`

Sometimes, I want to manually run the transfert instead of waiting the default schedule time. I'm doing this with a Python script in a Cloud function which i

[2021-01-13 12:54] gabrielferreira95 commented on #94
I got this same behaviour and I have the same questions as you.

[2021-01-19 23:21] tswast commented on #40
@deenliu Could you investigate this BQ-DTS customer issue? Is it possible to update a transfer config from service account credentials to user credentials?

[2021-01-19 23:51] deenliu commented on #40
Yes, it's possible.
Looks like config `projects/293426338768/locations/us/transferConfigs/5fabd030-0000-2c37-a3f6-f403043568a0` is deleted? Could you please share the resource name of the config you are trying to update?

[2021-01-20 08:38] shlomiken commented on #40
guys , the does not work even with API explorer . more than that on
different channel google confirmed this is a bug and not working right now.
so although SDK support it , the backend is not.

On Wed, Jan 20, 2021, 01:51 Deen Liu <notifications@github.com> wrote:

--
This e-mail, as well as any attached document, may contain material which
is confidential and privileged and may include trademark,

[2021-01-21 13:22] yoshi-automation opened #98 "Synthesis failed for python-bigquery-datatransfer"
Hello! Autosynth couldn't regenerate python-bigquery-datatransfer. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/c7c996d0-391d-4375-a3af-1b185b0ac104/targets/github%2Fsynthtool;config=default/tests;query=python-bigquery-datatransfer;failed=false).

[2021-01-21 17:49] yoshi-automation commented on #98
Autosynth is still having trouble generating python-bigquery-datatransfer. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/bd126a99-ddcf-4060-b192-d54993a500bc/targets/github%2Fsynthtool;config=default/tests;query=python-bigquery-datatransfer;failed=false).

[2021-01-21 20:08] tswast commented on #94
`requested_run_time` the purpose of this field is for "backfill" jobs. See code samples: https://cloud.google.com/bigquery/docs/scheduling-queries#setting_up_a_manual_run_on_historical_dates and https://cloud.google.com/bigquery-transfer/docs/working-with-transfers#backfilling

To schedule a job to run in the future, just create a transfer config with the desired schedule. See: https://cloud.googl

[2021-01-21 20:08] #94 closed

[2021-01-21 20:37] tswast commented on #40
@shlomiken Can you try setting `authorization_code` in the update `field_mask`?

[2021-01-21 21:19] yoshi-automation commented on #98
Autosynth is still having trouble generating python-bigquery-datatransfer. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/d899793e-87f8-46de-9898-be7cc8a1f2b4/targets/github%2Fsynthtool;config=default/tests;query=python-bigquery-datatransfer;failed=false).

[2021-01-21 22:28] yoshi-automation commented on #98
Autosynth is still having trouble generating python-bigquery-datatransfer. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/5d69a758-46ee-4cbe-b530-b8447e6a7453/targets/github%2Fsynthtool;config=default/tests;query=python-bigquery-datatransfer;failed=false).

[2021-01-21 23:12] tswast commented on #40
Re create method: https://github.com/googleapis/python-bigquery-datatransfer/issues/40#issuecomment-726098120

I find it a bit odd to use a service account but also `authorization_code`. @deenliu Is this supported? I would have expected https://github.com/googleapis/google-auth-library-python-oauthlib to be used to get user-based credentials, if user-based credentials are desired for the job.

[2021-01-22 13:22] yoshi-automation commented on #98
Autosynth is still having trouble generating python-bigquery-datatransfer. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/5b7b3dbc-e5a6-4d3c-8a59-54f2446229b2/targets/github%2Fsynthtool;config=default/tests;query=python-bigquery-datatransfer;failed=false).

[2021-01-23 13:22] yoshi-automation commented on #98
Autosynth is still having trouble generating python-bigquery-datatransfer. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/22432c82-35bf-446b-bb01-63bd7ff42bbe/targets/github%2Fsynthtool;config=default/tests;query=python-bigquery-datatransfer;failed=false).

[2021-01-24 13:21] yoshi-automation commented on #98
Autosynth is still having trouble generating python-bigquery-datatransfer. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/a456a4fa-1492-4938-8462-68cd04e3952b/targets/github%2Fsynthtool;config=default/tests;query=python-bigquery-datatransfer;failed=false).

[2021-01-25 13:21] yoshi-automation commented on #98
Autosynth is still having trouble generating python-bigquery-datatransfer. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/af905da7-dd5d-4e5c-a7fb-5f2d96ea70d2/targets/github%2Fsynthtool;config=default/tests;query=python-bigquery-datatransfer;failed=false).

[2021-01-26 13:24] yoshi-automation commented on #98
Autosynth is still having trouble generating python-bigquery-datatransfer. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/fa6ff9f1-e296-4e28-98a3-5ddf90650592/targets/github%2Fsynthtool;config=default/tests;query=python-bigquery-datatransfer;failed=false).

[2021-01-28 02:42] yoshi-automation commented on #98
Autosynth is still having trouble generating python-bigquery-datatransfer. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/fa08c8b2-fe34-439d-8241-126b80285b0f/targets/github%2Fsynthtool;config=default/tests;query=python-bigquery-datatransfer;failed=false).

[2021-01-28 03:48] yoshi-automation commented on #98
Autosynth passed, closing! :green_heart:

[2021-01-28 03:48] #98 closed

[2021-01-28 13:22] yoshi-automation opened #99 "Synthesis failed for python-bigquery-datatransfer"
Hello! Autosynth couldn't regenerate python-bigquery-datatransfer. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/a3912839-82bd-48c7-9d8d-1057e6124e5f/targets/github%2Fsynthtool;config=default/tests;query=python-bigquery-datatransfer;failed=false).

[2021-01-28 16:23] tswast commented on #40
@shlomiken I'm closing this, as I haven't heard back from you, and as far as I can tell this isn't a bug with the client library (though perhaps we could document (1) how to use user credentials + `authorization_code` and (2) using the `update_mask` better)

If you are still having issues with this, I recommend you raise an issue with the [Google Cloud support team](https://cloud.google.com/suppor

[2021-01-28 16:23] #40 closed

[2021-01-28 17:10] shlomiken commented on #40
i dont understand why you closed it. the problem still exist . if one is
trying to create transfer job with authorization code like in the docs a
400 error occur. also trying to update existing job with authorization code
throws 400 error.
this is clearly a bug.

On Thu, Jan 28, 2021, 18:23 Tim Swast <notifications@github.com> wrote:

--
This e-mail, as well as any attached document, may contain m

[2021-01-28 17:26] shlomiken commented on #40
consider this scenario .
we want to pull customers mc data to our bigquery . the user to create the job is service user, the job uses authorization code so the job could fetch customer data from mc.
there is clear distinction between our gcp environment users and our customers users in mc. this why the api support auth code in the first place.
btw -every thing i describe here is manually possible

[2021-01-28 20:04] deenliu commented on #40
Do you mean you want to use a service account to create the transfer config and use the user credential (with auth code) to fetch the data and write it into BigQuery? Please clarify if this happens for creating transfer config or updating transfer config? When it happens and the project of the transfer config? If it's updating, please share the transfer config resource name, which looks like proje

[2021-01-28 21:17] shlomiken commented on #40
yes this is the use case (which works as expected when using the console)
this happens when trying to create new transfer job with auth code.
(as i wrote in the code in previous comments)
as i wrote earlier.
this happens also

On Thu, Jan 28, 2021, 22:05 Deen Liu <notifications@github.com> wrote:

--
This e-mail, as well as any attached document, may contain material which
is confidential and priv

[2021-01-28 21:22] deenliu commented on #40
I don't think you can use a service account to create the transfer config on the Console (I think you mean the UI right?). Did you use the service account picker on the Console?

If I understand correctly,
1. On the Console, the user A a@gmail.com is signed in;
2. User A select project with project id test-project
3. User A creates a merchant center transfer config using the service account picker

[2021-01-28 22:04] shlomiken commented on #40
this is not exactly what we did using the console.
we did the following.
1. python code create transfer job using service account
2. we manually use update credentials in UI to use an authorized user in
MC. then the job works

we would like to do that automatically by poping auth screen to users ,
then use the auto code to create transfer job with auth code (the job
created with service account wh

[2021-01-28 22:06] shlomiken commented on #40
we could settle for creating the job with service account and then update
its credentilas ( like ui does) in code - but as well does not work.

On Fri, Jan 29, 2021, 00:04 Shlomi Cohen <shlomi.cohen@kenshoo.com> wrote:

--
This e-mail, as well as any attached document, may contain material which
is confidential and privileged and may include trademark, copyright and
other intellectual property rig

[2021-01-29 11:43] tswast opened #101 "sample request: create/update transfer config with user credentials and authorization code"
We've received several requests in the past weeks for help with user credentials instead of service account credentials.

[2021-01-29 11:46] tswast commented on #40
Step 2 is authenticating with user credentials. I've filed https://github.com/googleapis/python-bigquery-datatransfer/issues/101 to cover this.

As far as I know, the authorization code has to be associated with the user account

[2021-01-29 13:24] yoshi-automation commented on #99
Autosynth is still having trouble generating python-bigquery-datatransfer. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/fe3713d3-5a91-469f-8d32-daadd024abff/targets/github%2Fsynthtool;config=default/tests;query=python-bigquery-datatransfer;failed=false).

[2021-01-30 13:21] yoshi-automation commented on #99
Autosynth is still having trouble generating python-bigquery-datatransfer. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/72ece7fa-e470-41ab-ad07-6a74d5284409/targets/github%2Fsynthtool;config=default/tests;query=python-bigquery-datatransfer;failed=false).

[2021-01-30 20:54] shlomiken commented on #40
Tim , of course auth code is for user (it is recieved only after user
accept consent screen)
all im saying we could not set it either in create or update.
simple as that.

On Fri, Jan 29, 2021, 13:47 Tim Swast <notifications@github.com> wrote:

--
This e-mail, as well as any attached document, may contain material which
is confidential and privileged and may include trademark, copyright and
other

[2021-01-31 13:20] yoshi-automation commented on #99
Autosynth is still having trouble generating python-bigquery-datatransfer. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/05a56363-68a8-4679-b645-1f103655464c/targets/github%2Fsynthtool;config=default/tests;query=python-bigquery-datatransfer;failed=false).

[2021-02-01 13:21] yoshi-automation commented on #99
Autosynth is still having trouble generating python-bigquery-datatransfer. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/1185bcf9-eb3a-4134-a556-ea84f719c356/targets/github%2Fsynthtool;config=default/tests;query=python-bigquery-datatransfer;failed=false).

[2021-02-01 20:57] shlomiken commented on #10
@meredithslota @shollyman - you closed both this and #11 , but the problem is still exist.
try to create transfer job from google API explorer with authorization code - you get 400 error.
this happens from python SDK as well.
when is google intend to fix this one ?

[2021-02-02 01:15] yoshi-automation commented on #99
Autosynth passed, closing! :green_heart:

[2021-02-02 01:15] #99 closed

[2021-02-05 18:14] meredithslota commented on #4
@tswast Is this still an issue in the new generators for the reasons described above?

[2021-02-05 19:03] tswast commented on #4
@meredithslota Yes. This is still an issue.

A potential alternative solution is to create clients for the "location" service (https://github.com/googleapis/googleapis/tree/master/google/cloud/location) and override the endpoints to point at the BigQuery DTS endpoint.

[2021-02-23 09:06] keunsoopcoop opened #108 "curl for getting authorization code"
**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

I am developing a Python script to create multiple Data Transfer jobs. It looks like `authorization_code` for `create_transfer_config` function becomes invalid once it is used, so I need to

[2021-02-23 17:02] tswast commented on #108
Because of how the OAuth 2.0 protocol works, the user does need to open a browser to get the authorization code at least once. Note: the second time a user accesses the BQ-DTS API, the authorization code can be omitted.

[2021-02-23 17:45] keunsoopcoop commented on #108
@tswast Thanks for the tip! Now I do not need to refresh authorization_code as it is needed only at the first call!

[2021-02-23 17:45] #108 closed

[2021-02-23 18:43] meredithslota commented on #21
@paslandau Thank you for the feedback on what sounds like an extremely frustrating experience, and thank you also for the detailed write-up. I'm re-categorizing this issues as a "docs" issues so we can make sure this feedback makes it to our tech writing team.

[2021-02-26 05:34] meredithslota commented on #2
The original issue has been resolved; the API documentation now includes documentation on the `params` object: https://cloud.google.com/bigquery-transfer/docs/reference/datatransfer/rest/v1/projects.locations.transferConfigs.runs?hl=en It's an output-only field and is specific to the data source.

Copying datasets is a beta feature but there is new documentation there as well:
https://cloud.google

[2021-02-26 05:34] #2 closed

[2021-03-15 17:09] tswast commented on #51
I've requested more quota. I believe this is fixed.

[2021-03-15 17:09] #51 closed

[2021-06-07 17:11] dirkbosman opened #162 "Create schema-parameter within CreateTransferConfigRequest"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

 **Is your feature request related to a problem? Please describe.**

Yes. I can not currently set the schema of a scheduled

[2021-07-29 01:32] arubafna opened #192 "Invalid argument Error when trying to update credentials of DTS job"
I am trying to update the credential of a dts job that was created using a user account. Instead of the user account I want to use a service account to configure the dts.
The [documentation ](https://cloud.google.com/bigquery-transfer/docs/working-with-transfers#python_3) suggests the following python code which errors out.
Even the cli command: bq update --transfer_config --update_credentials --s

[2021-08-13 07:57] christophedcpm opened #198 "list_transfer_configs does not list all the transfer configurations of a project"
#### Environment details

  - OS type and version:
  - Python version: Python 2.7.17
  - pip version: pip 20.2.4
  - `google-cloud-bigquery-datatransfer` version:  1.1.1

#### Steps to reproduce

  1. Create multiple transfer configuration in a project
  2. Try to list all the configuration -> only one of the configuration is return

#### Code example

[code]

[2021-08-16 14:58] terekete opened #201 "feature: ability to label a scheduled query"
Is your feature request related to a problem? Please describe.
Unsure if this exists already, if not this would be a feature request.
Looking for an ability to label schedule query jobs. Is there a means to add labels so the scheduled jobs can container metadata when they appear in the INFORMATION_SCHEMA.

Describe the solution you'd like
One would see a label similar to those seen in Big Query.

[2021-08-16 15:03] dirkbosman commented on #162
Any updates on this one?

[2021-08-23 21:39] tswast commented on #198
@christophedcpm Are all the configs in the same location? I suspect that perhaps the backend API assumes a default location when none is set.

[2021-08-23 21:41] meredithslota commented on #198
Quick question - are all the transfers going into the same `destination_dataset_id` location? I wonder if it might be de-duping the destination dataset. I'm not sure. I assigned this to @tswast to investigate.

[2021-08-23 21:41] meredithslota commented on #198
(Jinx, sorry Tim!)

[2021-08-23 21:45] meredithslota commented on #201
You can name your scheduled queries — this page has a code sample showing how: https://cloud.google.com/bigquery/docs/scheduling-queries#setting_up_a_scheduled_query The parameter for the transfer config is `display_name`, I think.

[2021-08-23 21:45] #201 closed

[2021-08-24 06:15] christophedcpm commented on #198
@tswast no indeed, the destination dataset are in different locations. The workaround I have to specify the location manually  for the parent argument `/project/$projectid/location/$location`. But this is a problem for me cause I just want to list all transfer config present in the project and I do not know in advance which location they are located in.
I could loop over all locations, but this ve

[2021-08-24 14:20] tswast commented on #198
Unfortunately this is a limitation of the backend. I recommend filing a support case or an issue in the backend team's public tracker here: https://issuetracker.google.com/issues/new?component=187149&template=1162659

[2021-08-24 14:20] #198 closed

[2021-08-24 14:30] christophedcpm commented on #198
@tswast understood, thanks for the confirmation.

[2021-08-26 12:55] plamut opened #205 "Migrate from master to main branch"
As part of the umbrella issue googleapis/google-cloud-python#10579, we need to switch the default branch from `master` to `main`. Also, all occurrences of `master` should be renamed to `main` (except in cases where URLs could be broken, because the migration has not happened yet).

[2021-08-27 09:03] #205 closed, assigned to plamut

[2021-08-30 09:16] forking-renovate[bot] opened #208 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

This repository currently has no open or pending branches.

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-08-30 15:27] #208 closed

[2021-08-30 19:01] failure-checker[bot] opened #211 "Warning: a recent release failed"
The following release PRs may have failed:

* #207

[2021-08-30 21:01] #211 closed

[2021-11-03 17:14] leahecole opened #244 "Samples that depend on BigQuery are not compatible with Python 3.10"
`google-cloud-bigquery` does not yet support Python 3.10. When it does, the 3.10 samples check should turn green. For now, it is OK to merge PRs with a failing 3.10 samples check (the status check is intentionally optional).

See https://github.com/googleapis/python-bigquery/issues/1006 for the status of python 3.10 support.

[periodic build log](https://fusion2.corp.google.com/invocations/c3f217f

[2021-11-05 18:27] leahecole commented on #244
[Passing build!](https://fusion2.corp.google.com/invocations/8d80d8f8-7a93-4fb1-9de2-de00e8a2c792/targets) hooray!

[2021-11-05 18:27] #244 closed

[2021-11-17 14:33] rikum10 commented on #21
is this issue resolved in some simpler steps as we are getting same error though the service account has all the permission for transfer config.

│ Error: Error creating Config: googleapi: Error 400: P4 service account needs iam.serviceAccounts.getAccessToken permission. Running the following command may resolve this error: gcloud iam service-accounts add-iam-policy-binding project_id_1@cloudbuild

[2021-11-17 17:56] CharmanderJieniJieni opened #252 "keep getting '404 Requested entity was not found.' when trying sample code"
I am trying to run the sample python code to copy datasets between projects as per described here: https://cloud.google.com/bigquery/docs/copying-datasets#setting_up_a_dataset_copy to copy dataset, and local execution keeps throwing `404 Requested entity was not found.`

I have confirmed that I have inject correct dataset id and project id, only thing I suspect which may cause the problem is that

[2021-11-17 23:26] tswast commented on #252
There's not enough information in this question for me to help you. Could you try upgrading to the latest `google-api-core` library and print the `error_details` property of the exception?

[2021-11-18 05:28] CharmanderJieniJieni commented on #252
@tswast I am using latest version `3.4.1` on and python3.7.9. The detail error inside exception is below

<_InactiveRpcError of RPC that terminated with:
	status = StatusCode.NOT_FOUND
	details = "Requested entity was not found."
	debug_error_string = "{"created":"@1637212953.720768000","description":"Error received from peer ipv4:xxxxxxxxx:443","file":"src/core/lib/surface/call.cc","file_line":10

[2021-11-18 15:12] CharmanderJieniJieni commented on #252
I have narrowed it down that it is underlayer method call transfer_client.check_valid_creds() throwing this exception. Digging further

[2021-11-18 17:52] CharmanderJieniJieni commented on #252
Works! Thanks @ashok133 ! I thought `cross_region_copy` was just a dummy dataset name, don't know why it is called cross_region even I am copying across same region. Anyways thanks a lot!

[2021-11-18 17:52] #252 closed

[2021-11-23 16:33] CharmanderJieniJieni commented on #21
We are facing same issue, following step above did not help

[2021-11-25 17:29] CharmanderJieniJieni commented on #21
Finally got it work by adding the service account iam binding at the project where the service account resides. For my case the service account triggering the transfer is in Project-C while the dataset I was trying to copy was from Project-A to Project-B. So just run the suggested `gcloud iam service-accounts add-iam-policy-binding` command whith flag `project=Project-C` will get it work.

After a

[2021-11-26 18:38] anukaal opened #254 "support for python 3.9 and 3.10"
add support for python 3.9 and 3.10

[2021-11-29 16:49] tswast commented on #254
Addressed by https://github.com/googleapis/python-bigquery-datatransfer/pull/253

[2021-11-29 16:49] #254 closed

[2021-11-29 16:54] tswast commented on #192
The code sample at https://github.com/googleapis/python-bigquery-datatransfer/blob/5e02bd166149b4ef7ee0f295fdcb6a3570ec2f58/samples/snippets/manage_transfer_configs.py#L72-L105 has been tested to work, but I see other customers are also struggling with this in internal issue 206858465.

I suggest we update our code samples to use the explicit request object such as the [UpdateTransferConfigRequest

[2021-12-15 07:03] ThatCheck commented on #101
Any update on this ?

[2021-12-15 14:53] anukaal opened #259 "updated classifiers with python"
add python 3.9 and 3.10

[2021-12-15 16:17] tswast commented on #101
It's still on our backlog of potential samples to write.

One reason we haven't worked on this is due to problems testing (in CI/CD) a sample that requires a user account instead of service account. I recently learned that the Google Auth library has some system tests with user credentials ([code](https://github.com/googleapis/google-auth-library-python/blob/3c3fbf40b07e090f2be7fac5b304dbf438b5cd6

[2021-12-15 16:18] tswast commented on #259
Fixed by https://github.com/googleapis/python-bigquery-datatransfer/pull/253, but requires a release (https://github.com/googleapis/python-bigquery-datatransfer/pull/255). Currently we are in a release freeze until the first week of January.

[2021-12-15 16:18] #259 closed

[2021-12-15 16:34] tswast commented on #101
Also, note that we did have some thorough comments in an older version of the code sample on how to do this. See:

https://github.com/googleapis/python-bigquery-datatransfer/blob/eacdcb9a8c1e1b3888fbed014fda013fec73175e/samples/create_scheduled_query.py

[2022-01-12 16:31] adamread opened #266 "Link broken in generated documentation."
The link to the example cloud storage transfer parameters is broken due to a gratuitous space -> https://cloud.google.com/bigquery- transfer/docs/cloud-storage-transfer#bq <- you can see it in this link too.

This is due to a newline in the doc comment in the source.

#### Environment details
N/A
  - OS type and version:
  - Python version: `python --version`
  - pip version: `pip --version`
  - `

[2022-01-14 16:06] #266 closed

[2022-02-09 22:20] meredithslota commented on #3
@adamcunnington-gdt I can't find a spot in the documentation where this is wrong, but perhaps I'm missing it. If you are still seeing this issue, can you point me to a reference?

[2022-02-24 04:38] flaky-bot[bot] opened #286 "tests.system: test_list_data_sources failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: d7f46bb05939b17c3f1136a17dbac92b69232bdf
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/7a52

[2022-04-06 00:37] #3 closed

[2022-05-26 03:37] flaky-bot[bot] opened #336 "tests.unit.gapic.bigquery_datatransfer_v1.test_data_transfer_service: test_list_data_sources_pager failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: a8ab8d761c76669b82124719894a6c7ee50271b8
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/90c1

[2022-05-26 03:37] flaky-bot[bot] opened #337 "tests.unit.gapic.bigquery_datatransfer_v1.test_data_transfer_service: test_list_data_sources_async_pager failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: a8ab8d761c76669b82124719894a6c7ee50271b8
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/90c1

[2022-05-26 03:37] flaky-bot[bot] opened #338 "tests.unit.gapic.bigquery_datatransfer_v1.test_data_transfer_service: test_list_transfer_configs_pager failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: a8ab8d761c76669b82124719894a6c7ee50271b8
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/90c1

[2022-05-26 03:37] flaky-bot[bot] opened #339 "tests.unit.gapic.bigquery_datatransfer_v1.test_data_transfer_service: test_list_transfer_configs_async_pager failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: a8ab8d761c76669b82124719894a6c7ee50271b8
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/90c1

[2022-05-26 03:37] flaky-bot[bot] opened #340 "tests.unit.gapic.bigquery_datatransfer_v1.test_data_transfer_service: test_list_transfer_runs_pager failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: a8ab8d761c76669b82124719894a6c7ee50271b8
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/90c1

[2022-05-26 03:37] flaky-bot[bot] opened #341 "tests.unit.gapic.bigquery_datatransfer_v1.test_data_transfer_service: test_list_transfer_runs_async_pager failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: a8ab8d761c76669b82124719894a6c7ee50271b8
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/90c1

[2022-05-26 03:37] flaky-bot[bot] opened #342 "tests.unit.gapic.bigquery_datatransfer_v1.test_data_transfer_service: test_list_transfer_logs_pager failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: a8ab8d761c76669b82124719894a6c7ee50271b8
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/90c1

[2022-05-26 03:37] flaky-bot[bot] opened #343 "tests.unit.gapic.bigquery_datatransfer_v1.test_data_transfer_service: test_list_transfer_logs_async_pager failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: a8ab8d761c76669b82124719894a6c7ee50271b8
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/90c1

[2022-05-26 03:37] flaky-bot[bot] opened #344 "tests.unit.gapic.bigquery_datatransfer_v1.test_data_transfer_service: test_list_transfer_runs_pager failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: a8ab8d761c76669b82124719894a6c7ee50271b8
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/90c1

[2022-05-26 03:37] flaky-bot[bot] opened #345 "tests.unit.gapic.bigquery_datatransfer_v1.test_data_transfer_service: test_list_transfer_runs_async_pager failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: a8ab8d761c76669b82124719894a6c7ee50271b8
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/90c1

[2022-05-26 03:37] flaky-bot[bot] opened #346 "tests.unit.gapic.bigquery_datatransfer_v1.test_data_transfer_service: test_list_transfer_logs_pager failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: a8ab8d761c76669b82124719894a6c7ee50271b8
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/90c1

[2022-05-26 03:37] flaky-bot[bot] opened #347 "tests.unit.gapic.bigquery_datatransfer_v1.test_data_transfer_service: test_list_transfer_logs_async_pager failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: a8ab8d761c76669b82124719894a6c7ee50271b8
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/90c1

[2022-05-26 03:37] #347 closed

[2022-05-26 03:37] #346 closed

[2022-05-26 03:37] #345 closed

[2022-05-26 03:38] #344 closed

[2022-05-27 15:53] parthea commented on #343
This error occurs with protobuf==4.21.0. See https://github.com/googleapis/gapic-generator-python/issues/1328. I'm going to close this issue as we've already pinned to protobuf<4.x.x in a core dependency.

[2022-05-27 15:53] #342 closed

[2022-05-27 15:53] #341 closed

[2022-05-27 15:53] #340 closed

[2022-05-27 15:53] #337 closed

[2022-05-27 15:53] #336 closed

[2022-06-09 19:01] failure-checker[bot] opened #359 "Warning: a recent release failed"
The following release PRs may have failed:

* #358

[2022-06-14 15:45] parthea commented on #359
https://pypi.org/project/google-cloud-bigquery-datatransfer/1.1.3/

[2022-06-14 15:45] #359 closed

[2022-06-14 23:03] meredithslota commented on #4
Blocked by internal issue 235516423 to include the `location` service in this library.

[2022-06-24 17:24] parthea commented on #4
I've changed this to a feature request as the internal issue is treated as a feature request.

[2022-07-07 11:57] jcarpenter12 opened #365 "Transfer config does not support 'overwrite_destination_table' param"
**Is your feature request related to a problem? Please describe.**
- During validation of several data transfers that have been setup using this package I noticed in the UI that the transfers didn't overwrite the tables on subsequent runs because according to the logs in the console `overwrite_destination_table` was not enabled in the transfer config. Upon investigation into the documentation (as

[2022-07-18 13:58] jcarpenter12 commented on #365
The overwrite_destination_table

[2022-07-18 13:58] #365 closed

[2022-08-18 17:13] Rstar1998 opened #381 "What is the key value pair to include partitioning column for the destination table in the params dictionary ?"
Here in the below code snippet what key value pair should be added for including partitioning columns of that destination table ? In GCP documentation its no where to be found

[code]

[2022-08-19 00:23] kabirivan commented on #63
I can revolve it, in this way:

Step 1: Import this lib

`from google.protobuf.json_format import MessageToDict`

Step 2: Send a request

`    agent = Agent(
        parent=parent,
        display_name=display_name,
        default_language_code="en",
        time_zone="America/Los_Angeles",
    )
`

`    request = SetAgentRequest(
        agent=agent,
    )`

Step 3: Convert response to JSON [Loo

[2022-08-19 21:20] #381 closed